@model leave_management.Models.AdminLeaveRequestViewViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                StartDate
            </th>
            <th>
                EndDate
            </th>
            <th>
                LeaveTypeId
            </th>
            <th>
                DateRequested
            </th>
            <th>
                Approval Status
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestingEmployee.FirstName) @Html.DisplayFor(modelItem => item.RequestingEmployee.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequested)
                </td>
                <td>
                    @if (item.Approved == true)
                    {
                        <span class="badge badge-success">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge badge-danger">Rejected</span>
                    }
                    else
                    {
                        <span class="badge badge-warning">Pending Approval</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblData').DataTable();
        });
    </script>
}
